@import "./default_shadcn_theme.css";

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
  }

  html {
    font-size: var(--font-size);
    font-family: 'Inter', sans-serif;
  }

  h1 {
    font-family: 'Satoshi', sans-serif;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h2 {
    font-family: 'Satoshi', sans-serif;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h3 {
    font-family: 'Satoshi', sans-serif;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h4 {
    font-family: 'Satoshi', sans-serif;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  label {
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  button {
    font-family: 'Satoshi', sans-serif;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  input {
    font-family: 'Inter', sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
  }
}

/* Utility to hide scrollbars while preserving scroll functionality */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
